body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background: linear-gradient(#2ecc71 #004581, #0ea1e6);
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.calendar {
    width: 340px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.days div {
    font-weight: bold;
}

.dates div {
    padding: 8px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.dates div:hover {
    background: #3498db;
    color: white;
}

.today {
    background: #2ecc71;
    color: white;
}

.selected {
    background: #e74c3c;
    color: white;
}

.selected-container {
    margin-top: 20px;
}

.selected-container ul {
    padding-left: 15px;
}

.selected-container li {
    margin-bottom: 5px;
    cursor: pointer;
}